<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <div class="card shadow mb-4"> -->
  <div class="card-header py-3" style="display: flex; justify-content: space-between;">
    <h3 class="m-0 font-weight-bold text-primary">Loại phòng</h3>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal"
      data-target="#myModalAdd">
      <i class="fas fa-plus-circle fa-sm"></i> Thêm mới</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên loại phòng</th>
            <th>Giá</th>
            <th>Số lượng phòng</th>
            <th>Người tạo</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(item, idx) { %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= item.nameOfCategory%></td>
            <td><%= item.price.toLocaleString()%> đ</td>
            <td><%= item.roomQuantity%></td>
            <td><%= item.createdByUser%></td>
            <td>
              <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="<%= item._id %>"
                data-name="<%= item.nameOfCategory %>" data-price="<%= item.price %>" data-note="<%= item.note %>">Cập
                nhật</a>
              <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%= item._id %>">Xóa</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal Add -->
  <form action="/room-categories/add" method="post">
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thêm loại phòng mới</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="nameOfCategory_Create">Tên loại phòng:</label>
              <input pattern=".{3,}" type="text" class="form-control" placeholder="Nhập tên loại phòng"
                id="nameOfCategory_Create" name="nameOfCategory" placeholder="Nhập tên loại phòng" required
                oninvalid="this.setCustomValidity('Nhập ít nhất 3 ký tự')" />
            </div>
            <div class="form-group">
              <label for="price_create" style="display: flex; justify-content: space-between;">
                <span>Giá:</span>
                <span>(VND)</span>
              </label>
              <input type="number" min="100000" step="50000" max="5000000" class="form-control" placeholder="Nhập giá"
                id="price_create" name="price" required />
            </div>
            <div class="form-group">
              <label for="note_create">Ghi chú:</label>
              <textarea rows="3" class="form-control" placeholder="Thêm ghi chú" id="note_create"
                name="note"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Update -->
  <form action="/room-categories/update?id=<%= data._id %>" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sửa loại phòng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="nameOfCategor_Update">Tên loại phòng:</label>
              <input pattern=".{3,}" type="text" name="nameOfCategory" class="form-control nameOfCategory"
                id="nameOfCategory_Update" required oninvalid="this.setCustomValidity('Nhập ít nhất 3 ký tự')">
            </div>
            <div class="form-group">
              <label for="price_update" style="display: flex; justify-content: space-between;">
                <span>Giá</span>
                <span>(VND)</span>
              </label>
              <input type="number" min="100000" step="50000" max="5000000" class="form-control price"
                placeholder="Nhập giá" id="price_update" name="price" required />
            </div>
            <div class="form-group">
              <label for="note_update">Ghi chú:</label>
              <textarea rows="3" class="form-control note" placeholder="Thêm ghi chú" id="note_update"
                name="note"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="_id">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Delete -->
  <form id="add-row-form" action="/room-categories/delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Xóa loại phòng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <strong>Bạn có chắc chắn muốn xóa?</strong>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="form-control _id2" required>
            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-success">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <script>
    document.getElementById('collapseTwo').classList.add('show')
    document.getElementById('room-categories-tab').classList.add('active')
    $(document).ready(function () {
      //showing data to edit modal      
      $('#dataTable').on('click', '.edit', function () {
        const _id = $(this).data('id');
        const nameOfCategory = $(this).data('name');
        const price = $(this).data('price');
        const note = $(this).data('note');
        $('#EditModal').modal('show');
        $('.nameOfCategory').val(nameOfCategory);
        $('.price').val(price);
        $('.note').val(note);
        $('._id').val(_id);
      });
      //showing delete record modal
      $('#dataTable').on('click', '.delete', function () {
        const _id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('._id2').val(_id);
      });

    });
  </script>
</div>