<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <div class="card shadow mb-4"> -->
  <div
    class="card-header py-3"
    style="display: flex; justify-content: space-between;"
  >
    <h3 class="m-0 font-weight-bold text-primary">Phòng</h3>
    <a
      href="#"
      class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"
      data-toggle="modal"
      data-target="#myModalAdd"
    >
      <i class="fas fa-plus-circle fa-sm"></i> Thêm mới</a
    >
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên phòng</th>
            <th>Loại phòng</th>
            <th>Đơn giá</th>
            <th>Ghi chú</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(item, idx) { %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= item.nameOfRoom%></td>
            <td><%= item.cate%></td>
            <td><%= item.price.toLocaleString()%> đ</td>
            <td><%= item.note%></td>
            <td>
              <a
                href="javascript:void(0);"
                class="btn btn-sm btn-info edit"
                data-id="<%= item._id %>"
                data-name="<%= item.nameOfRoom %>"
                data-cate="<%= item.cateOfRoomId %>"
                data-price="<%= item.price %>"
                data-status="<%= item.status %>"
                data-max="<%= item.maxPeople %>"
                data-note="<%= item.note %>"
                >Cập nhật</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-sm btn-danger delete"
                data-id="<%= item._id %>"
                >Xóa</a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal Add -->
  <form action="/rooms/add" method="post">
    <div
      class="modal fade"
      id="myModalAdd"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thêm phòng mới</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="nameOfRoom_Create">Tên phòng:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nhập tên phòng"
                id="nameOfRoom_create"
                name="nameOfRoom"
                required
              />
            </div>
            <div class="form-group">
              <label for="category_room">Loại phòng:</label>
              <select
                class="form-control cateOfRoomId"
                id="category_room"
                name="cateOfRoomId"
                required
              >
                <% dataCate.forEach(function(item, idx) { %>
                <option value="<%= item._id %>"
                  ><%= item.nameOfCategory %></option
                >
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="status_Create">Tình trạng:</label>
              <label class="radio-inline">
                <input type="radio" name="status" value="Còn phòng" checked />
                Còn phòng
              </label>
              <label class="radio-inline">
                <input type="radio" name="status" value="Hết phòng" /> Hết phòng
              </label>
            </div>
            <div class="form-group">
              <label
                for="price_create"
                style="display: flex; justify-content: space-between;"
              >
                <span> Đơn giá:</span>
                <span>(VND)</span>
              </label>
              <input
                type="number"
                min="100000"
                step="50000"
                max="5000000"
                class="form-control"
                placeholder="Nhập giá"
                id="price_create"
                name="price"
                required
              />
            </div>
            <div class="form-group">
              <label for="nameOfRoom_Create">Số lượng người tối đa:</label>
              <input
                type="number"
                class="form-control"
                placeholder="Nhập số người tối đa"
                id="maxPeople_create"
                name="maxPeople"
                required
              />
            </div>
            <div class="form-group">
              <label for="note_create">Ghi chú:</label>
              <textarea
                rows="3"
                class="form-control"
                placeholder="Thêm ghi chú"
                id="note_create"
                name="note"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Update -->
  <form action="/rooms/update?id=<%= data._id %>" method="post">
    <div
      class="modal fade"
      id="EditModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sửa loại phòng</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="nameOfRoom_update">Tên phòng:</label>
              <input
                type="text"
                class="form-control nameOfRoom"
                placeholder="Nhập tên phòng"
                id="nameOfRoom_update"
                name="nameOfRoom"
                placeholder="Nhập tên phòng"
                required
              />
            </div>
            <div class="form-group">
              <label for="category_room">Loại phòng:</label>
              <select
                class="form-control cateOfRoomId"
                id="category_room"
                name="cateOfRoomId"
                required
              >
                <% dataCate.forEach(function(item, idx) { %>
                <option value="<%= item._id %>"
                  ><%= item.nameOfCategory %></option
                >
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="status_Create">Tình trạng:</label>
              <label class="radio-inline">
                <input type="radio" name="status" value="Còn phòng" /> Còn phòng
              </label>
              <label class="radio-inline">
                <input type="radio" name="status" value="Hết phòng" /> Hết phòng
              </label>
            </div>
            <div class="form-group">
              <label
                for="price_create"
                style="display: flex; justify-content: space-between;"
              >
                <span> Đơn giá:</span>
                <span>(VND)</span>
              </label>
              <input
                type="number"
                min="10000"
                class="form-control price"
                placeholder="Nhập giá"
                id="price_update"
                name="price"
                required
              />
            </div>
            <div class="form-group">
              <label for="nameOfRoom_update">Số lượng người tối đa:</label>
              <input
                type="number"
                class="form-control maxPeople"
                placeholder="Nhập số người tối đa"
                id="maxPeople_update"
                name="maxPeople"
                required
              />
            </div>
            <div class="form-group">
              <label for="note_create">Ghi chú:</label>
              <textarea
                rows="3"
                class="form-control note"
                placeholder="Thêm ghi chú"
                id="note_update"
                name="note"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="_id" />
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button type="submit" class="btn btn-primary">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Delete -->
  <form id="add-row-form" action="/rooms/delete" method="post">
    <div
      class="modal fade"
      id="DeleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Xóa phòng</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <strong>Bạn có chắc chắn muốn xóa?</strong>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="form-control _id2" required />
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Hủy
            </button>
            <button type="submit" class="btn btn-success">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>

  <script>
    $(document).ready(function () {
      document.getElementById("collapseTwo").classList.add("show")
      document.getElementById("rooms-tab").classList.add("active")
      //showing data to edit modal
      $("#dataTable").on("click", ".edit", function () {
        const _id = $(this).data("id")
        const nameOfRoom = $(this).data("name")
        const cateOfRoomId = $(this).data("cate")
        const price = $(this).data("price")
        const status = $(this).data("status")
        const maxPeople = $(this).data("max")
        const note = $(this).data("note")
        $("#EditModal").modal("show")
        $(".nameOfRoom").val(nameOfRoom)
        $(".cateOfRoomId").val(cateOfRoomId)
        $(".price").val(price)
        $(`input:radio[name="status"][value="${status}"]`).prop("checked", true)
        $(".maxPeople").val(maxPeople)
        $(".note").val(note)
        $("._id").val(_id)

        // $( "#cateOfRoomId" ).change(function() {
        //   var cateOfRoomId = $('#cate').val();
        //   $('.nameOfRoom').val(nameOfRoom);
        // }).trigger("change")
      })
      //showing delete record modal
      $("#dataTable").on("click", ".delete", function () {
        const _id = $(this).data("id")
        $("#DeleteModal").modal("show")
        $("._id2").val(_id)
      })
    })
  </script>
</div>
