<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <div class="card shadow mb-4"> -->
  <div class="card-header py-3" style="display: flex; justify-content: space-between;">
    <h3 class="m-0 font-weight-bold text-primary">Danh mục phòng</h3>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal"
      data-target="#logoutModal"><i class="fas fa-plus-circle fa-sm"></i> Thêm mới</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên phòng</th>
            <th>Loại phòng</th>
            <th>Đơn giá</th>
            <th>Ghi chú</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(item, idx) { %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= item.name_room%></td>
            <td><%= item.name_category_room%></td>
            <td><%= item.price_category_room.toLocaleString()%> đ</td>
            <td><%= item.note_room%></td>

            <td>
              <form method="POST" action="/admin/category/delete/{{ chilID }}">
                <a class="fa fa-eye fa-fw thaotacButton" title="Xem bài viết" href="/category/{{ chilID }}"
                  target="_blank" data-toggle="tooltip"></a>
                <button class="fa fa-edit fa-fw thaotacButton" type="button"
                  onclick="location.href='/admin/category/edit/{{ chilID }}'" title="Cập nhật"
                  data-toggle="tooltip"></button>
                <button class="fa fa-remove fa-fw thaotacButton"
                  onclick="return confirm('Bạn thực sự muốn xóa chuyên mục này?')" title="Xóa" type="submit"
                  data-toggle="tooltip"></button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">
              <b>Phòng mới</b>
            </h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form action="/action_page.php">
            <div class="modal-body">
              <div class="form-group">
                <label for="name_category_room">Tên phòng:</label>
                <input type="text" class="form-control" placeholder="Nhập tên phòng" id="name_category_room" required />
              </div>
              <div class="form-group">
                <label for="category_room">
                  <span>Tên loại phòng</span>
                </label>
                <select class="form-control" id="category_room" required>
                  <option>nghiem 1</option>
                  <option>nghiem 2</option>
                  <option>nghiem 3</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">
                Hủy
              </button>
              <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Page level plugins -->
    <script>
      document.getElementById('collapseTwo').classList.add('show')
      document.getElementById('rooms-tab').classList.add('active')
    </script>
  </div>
  <!-- </div> -->
</div>
<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>