<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <div class="card shadow mb-4"> -->
  <div class="card-header py-3" style="display: flex; justify-content: space-between;">
    <h3 class="m-0 font-weight-bold text-primary">Phiếu thuê phòng</h3>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal" data-target="#myModalAdd">
      <i class="fas fa-plus-circle fa-sm"></i> Thêm mới</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên khách hàng</th>
            <th>Tên phòng</th>
            <th>Số người</th>
            <th>Số tạo</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(item, idx) { %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= item.customerId%></td>
            <td><%= item.roomId%></td>
            <td><%= item.numberOfPeople%></td>
            <td><%= item.createdByUser%></td>
            <td>
              <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="<%= item._id %>" data-customerid="<%= item.customerId %>" data-roomid="<%= item.roomId %>" data-dayin="<%= item.dayCheckIn %>" data-dayout="<%= item.dayCheckOut %>" data-numpeople="<%= item.numberOfPeople %>" data-surchargeid="<%= item.surchargeId %>" data-type="<%= item.customerTypeId %>">Cập nhật</a>
              <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%= item._id %>">Xóa</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

<!-- Modal Add -->
<form action="/room-letters/add" method="post">
  <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Thêm phiếu thuê phòng mới</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
          <div class="form-group">
            <label for="customerid_create">Mã khách hàng:</label>
            <input type="text" class="form-control" placeholder="Nhập mã khách hàng" id="customerid_create" name="customerId" required />
          </div>
          <div class="form-group">
            <label for="roomId_create">Mã phòng:</label>
            <input type="text" class="form-control" placeholder="Nhập mã phòng" id="roomId_create" name="roomId" required />
          </div>
          <div class="form-group">
            <label for="numberOfPeople_create">Số lượng người:</label>
            <input type="number" class="form-control" placeholder="Nhập số lượng người" id="numberOfPeople_create" name="numberOfPeople" required />
          </div>
          <div class="form-group">
            <label for="type_customer">Loại khách hàng:</label>
            <select class="form-control customerTypeId" id="type_customer" name="customerTypeId" required>
              <% dataType.forEach(function(item, idx) { %>
                <option value="<%= item._id %>"><%= item.nameOfType %></option>
              <% }); %>
            </select>
          </div>
        </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <button type="submit" class="btn btn-primary">Save</button>
       </div>
     </div>
   </div>
  </div>
</form>

<!-- Modal Update -->
<form action="/room-letters/update?id=<%= data._id %>" method="post">
 <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sửa phiếu đặt phòng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="customerid_update">Mã khách hàng:</label>
          <input type="text" class="form-control customerId" placeholder="Nhập mã khách hàng" id="customerid_update" name="customerId" required />
        </div>
        <div class="form-group">
          <label for="roomId_update">Mã phòng:</label>
          <input type="text" class="form-control roomId" placeholder="Nhập mã phòng" id="roomId_update" name="roomId" required />
        </div>
        <div class="form-group">
          <label for="numberOfPeople_update">Số lượng người:</label>
          <input type="number" class="form-control numberOfPeople" placeholder="Nhập số lượng người" id="numberOfPeople_update" name="numberOfPeople" required />
        </div>
        <div class="form-group">
          <label for="type_customer_update">Loại khách hàng:</label>
          <select class="form-control customerTypeId" id="type_customer_update" name="customerTypeId" required>
            <% dataType.forEach(function(item, idx) { %>
              <option value="<%= item._id %>"><%= item.nameOfType %></option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="id" class="_id">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
 </div>
</form>

<!-- Modal Delete -->
<form id="add-row-form" action="/room-letters/delete" method="post">
   <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Xóa phiếu đặt phòng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             </div>
             <div class="modal-body">
                <strong>Bạn có chắc chắn muốn xóa?</strong>
             </div>
             <div class="modal-footer">
                  <input type="hidden" name="id" class="form-control _id2" required>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                  <button type="submit" class="btn btn-success">Xác nhận</button>
             </div>
          </div>
      </div>
   </div>
</form>

  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>

  <script>
    $(document).ready(function(){
    //   document.getElementById('collapseUtilities').classList.add('show')
    // document.getElementById('room-letters-tab').classList.add('active')
      //showing data to edit modal      
      $('#dataTable').on('click','.edit',function(){
        const _id = $(this).data('id');
        const customerId = $(this).data('customerid');
        const roomId = $(this).data('roomid');
        const surchargeId = $(this).data('surchargeid');
        const numberOfPeople = $(this).data('numpeople');
        const dayCheckIn = $(this).data('dayin');
        const dayCheckOut = $(this).data('dayout');
        const customerTypeId = $(this).data('type');
        $('#EditModal').modal('show');
        $('.customerId').val(customerId);
        $('.roomId').val(roomId);
        $('.surchargeId').val(surchargeId);
        $('.numberOfPeople').val(numberOfPeople);
        $('.dayCheckIn').val(dayCheckIn);
        $('.dayCheckOut').val(dayCheckOut);
        $('.customerTypeId').val(customerTypeId);
        $('._id').val(_id);
      });
      //showing delete record modal
      $('#dataTable').on('click','.delete',function(){
        const _id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('._id2').val(_id);
      });
 
    });
  </script>
</div>
