<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <div class="card shadow mb-4"> -->
  <div class="card-header py-3" style="display: flex; justify-content: space-between;">
    <!-- <h3 class="m-0 font-weight-bold text-primary">Phiếu thuê phòng</h3> -->
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" data-toggle="modal"
      data-target="#myModalAdd">
      <i class="fas fa-plus-circle fa-sm"></i> Thêm mới</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên khách hàng</th>
            <th>Tên phòng</th>
            <th>Số người</th>
            <th>Người tạo</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(function(item, idx) { %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= item.cus%></td>
            <td><%= item.room%></td>
            <td><%= item.numberOfPeople%></td>
            <td><%= item.createdByUser%></td>
            <td>
              <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="<%= item._id %>"
                data-customerid="<%= item.customerId %>" data-roomid="<%= item.roomId %>"
                data-dayin="<%= item.dayCheckIn %>" data-dayout="<%= item.dayCheckOut %>"
                data-numpeople="<%= item.numberOfPeople %>" data-type="<%= item.customerTypeId %>">Cập nhật</a>
              <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="<%= item._id %>">Xóa</a>
              <a href="javascript:void(0);" class="btn btn-sm btn-success print" style="width: 50px;"
                data-id="<%= item._id %>" data-customername="<%= item.cus %>" data-roomname="<%= item.room %>"
                data-dayin="<%= item.dayCheckIn %>" data-dayout="<%= item.dayCheckOut %>"
                data-numpeople="<%= item.numberOfPeople %>" data-type="<%= item.cusType %>"
                data-category="<%= item.category %>" data-surchage="<%= item.surcharge %>"
                data-price="<%= item.price %>" data-employee="<%= item.createdByUser %>"><img src="/img/print.png"
                  style="height: 20px;width: 20px;"></a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal Add -->
  <form action="/room-letters/add" method="post">
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thêm phiếu thuê phòng mới</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--
          <div class="form-group">
            <label for="customerid_create">Mã khách hàng:</label>
            <input type="text" class="form-control" placeholder="Nhập mã khách hàng" id="customerid_create" name="customerId" required />
          </div>
          -->
            <div class="form-group">
              <label for="customerId">Khách hàng:</label>
              <input list="customerId" class="form-control" id="myBrowser" placeholder="Chọn khách hàng đã lưu"
                name="customerId" />
              <datalist id="customerId">
                <% dataCustomer.forEach(function(item, idx) { %>
                <option value="<%= item._id %>"><%= item.name %> - <%= item.numberOfId %></option>
                <% }); %>
              </datalist>
            </div>
            <!--
          <div class="form-group">
            <label for="roomId_create">Mã phòng:</label>
            <input type="text" class="form-control" placeholder="Nhập mã phòng" id="roomId_create" name="roomId" required />
          </div>
          -->
            <div class="form-group">
              <label for="roomId_create">Tên phòng:</label>
              <select class="form-control roomId" id="category_room" name="roomId" required>
                <% dataRoom.forEach(function(item, idx) { %>
                <option value="<%= item._id %>"><%= item.nameOfRoom %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="numberOfPeople_create">Số lượng người:</label>
              <input type="number" class="form-control" placeholder="Nhập số lượng người" id="numberOfPeople_create"
                name="numberOfPeople" required />
            </div>
            <div class="form-group">
              <label for="type_customer">Loại khách hàng:</label>
              <select class="form-control customerTypeId" id="type_customer" name="customerTypeId" required>
                <% dataType.forEach(function(item, idx) { %>
                <option value="<%= item._id %>"><%= item.nameOfType %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="dayCheckIn_create">Ngày đến:</label>
              <input type="date" class="form-control dayCheckIn" id="dayCheckIn_create" name="dayCheckIn" required />
            </div>
            <div class="form-group">
              <label for="dayCheckOut_create">Ngày đi:</label>
              <input type="date" class="form-control dayCheckOut" id="dayCheckOut_create" name="dayCheckOut" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Update -->
  <form action="/room-letters/update" method="post" id="updateForm">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sửa phiếu đặt phòng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--
        <div class="form-group">
          <label for="customerid_update">Mã khách hàng:</label>
          <input type="text" class="form-control customerId" placeholder="Nhập mã khách hàng" id="customerid_update" name="customerId" required />
        </div>
        -->
            <div class="form-group">
              <label for="customerId">Khách hàng:</label>
              <input disabled list="customerId" class="form-control customerId" id="myBrowser"
                placeholder="Chọn khách hàng đã lưu" name="customerId" />
              <datalist id="customerId">
                <% dataCustomer.forEach(function(item, idx) { %>
                <option value="<%= item._id %>"><%= item.name %> - <%= item.numberOfId %></option>
                <% }); %>
              </datalist>
            </div>
            <!--
        <div class="form-group">
          <label for="roomId_update">Mã phòng:</label>
          <input type="text" class="form-control roomId" placeholder="Nhập mã phòng" id="roomId_update" name="roomId" required />
        </div>
        -->
            <div class="form-group">
              <label for="roomId_update">Tên phòng:</label>
              <select class="form-control roomId" id="room-update" name="roomId" required>
                <% dataRoom.forEach(function(item, idx) { %>
                <option value="<%= item._id %>" label="<%= item.nameOfRoom %>"><%= item.nameOfRoom %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="numberOfPeople_update">Số lượng người:</label>
              <input type="number" class="form-control numberOfPeople" placeholder="Nhập số lượng người"
                id="numberOfPeople_update" name="numberOfPeople" required />
            </div>
            <div class="form-group">
              <label for="type_customer_update">Loại khách hàng:</label>
              <select class="form-control customerTypeId" id="type_customer_update" name="customerTypeId" required>
                <% dataType.forEach(function(item, idx) { %>
                <option value="<%= item._id %>"><%= item.nameOfType %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="dayCheckIn_update">Ngày đến:</label>
              <input type="date" class="form-control dayCheckIn" id="dayCheckIn_update" name="dayCheckIn" required />
            </div>
            <div class="form-group">
              <label for="dayCheckOut_update">Ngày đi:</label>
              <input type="date" class="form-control dayCheckOut" id="dayCheckOut_update" name="dayCheckOut" required />
            </div>
          </div>
          <div class="modal-footer justify-content-end">
            <input type="hidden" name="id" class="_id">
            <div class="col-6 row">
              <button type="button" class="btn btn-secondary col mr-2" data-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-primary col mr-1">Xác nhận</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Delete -->
  <form id="add-row-form" action="/room-letters/delete" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Xóa phiếu đặt phòng</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <strong>Bạn có chắc chắn muốn xóa?</strong>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" class="form-control _id2" required>
            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-success">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Print -->
  <form id="print-form" name="printForm" style="display: none; font-size:20px">
    <img src="/img/logo.png" style="width: 100px; height: 100px;" />
    <h3 style="float: right; margin-top: 20px;" id="organization"></h3>
    <div>
      <h2 class="text-center mb-4">PHIẾU ĐẶT PHÒNG</h3>
        <div class="form-row">
          <div class="form-group col-md-6">
            <span>Tên phòng: </span>
            <span name="roomName" id="print-room"></span>
          </div>
          <div class="form-group col-md-6">
            <span id="create-employee">Người lập phiếu: </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6" style="display:inline">
            <label>Khách hàng:</label>
            <input class="form-control" id="inputCustomer">
          </div>
          <div class="form-group col-3" style="display:inline">
            <label>Số người:</label>
            <input class="form-control" id="inputNumPeople">
          </div>
          <div class="form-group col-3" style="display:inline">
            <label>Loại khách:</label>
            <input class="form-control" id="inputCustomerType">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6" style="display:inline">
            <label>Loại phòng thuê:</label>
            <input class="form-control" id="inputRoomType">
          </div>
          <div class="form-group col-3" style="display:inline">
            <label>Giá phòng:</label>
            <input class="form-control" id="inputRoomPrice">
          </div>
          <div class="form-group col-3" style="display:inline">
            <label>Mức phụ thu(%):</label>
            <input class="form-control" id="inputSurcharge">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6" style="display: inline;">
            <label>Ngày thuê:</label>
            <input class="form-control" id="inputCheckIn">
          </div>
          <div class="form-group col-6" style="display: inline;">
            <label>Ngày trả phòng:</label>
            <input class="form-control" id="inputCheckOut">
          </div>
        </div>
        <div class="form-group">
          <label>Ghi chú</label>
          <textarea class="form-control" rows="7"></textarea>
        </div>
        <div class="row justify-content-around mt-5" style="margin-left: 100px;">
          <div class="col-4 font-weight-bold">
            Khách hàng
          </div>
          <div class="col-4 font-weight-bold" style="text-align: center;">
            <span>Người in phiếu</span>
            <br><br><br><br>
            <span><%= curUser.name %></span>
          </div>
        </div>
  </form>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
  <link rel="stylesheet" type="text/css" href="https://printjs-4de6.kxcdn.com/print.min.css">
  <script type="text/javascript" src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
  <script>
    $(document).ready(function () {
      document.getElementById('collapseTwo').classList.add('show')
      document.getElementById('room-letter-tab').classList.add('active')
      //showing data to edit modal        
      $('#dataTable').on('click', '.edit', function () {
        const _id = $(this).data('id');
        const customerId = $(this).data('customerid');
        const roomId = $(this).data('roomid');
        const numberOfPeople = $(this).data('numpeople');
        const dayCheckIn = $(this).data('dayin');
        const dayCheckOut = $(this).data('dayout');
        const customerTypeId = $(this).data('type');
        $('#EditModal').modal('show');
        $('.customerId').val(customerId);
        $('#room-update').val(roomId);
        $('.numberOfPeople').val(numberOfPeople);
        $('#dayCheckIn_update').val(new Date(dayCheckIn).toISOString().split('T')[0]);
        $('#dayCheckOut_update').val(new Date(dayCheckOut).toISOString().split('T')[0]);
        $('.customerTypeId').val(customerTypeId);
        $('._id').val(_id);
      });
      //showing delete record modal
      $('#dataTable').on('click', '.delete', function () {
        const _id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('._id2').val(_id);
      });
      //open print modal
      $('#dataTable').on('click', '.print', function () {
        const customerName = $(this).data('customername');
        const roomname = $(this).data('roomname');
        const numberOfPeople = $(this).data('numpeople');
        const dayCheckIn = $(this).data('dayin');
        const dayCheckOut = $(this).data('dayout');
        const customerTypeId = $(this).data('type');
        const roomPrice = $(this).data('price');
        const category = $(this).data('category');
        const surcharge = $(this).data('surchage');
        const employee = $(this).data('employee');
        $('#print-form').show();
        $("#organization").text(document.title);
        $('#print-room').text(roomname);
        $('#create-employee').append(" " + employee);
        $('#inputCustomer').val(customerName);
        $('#inputNumPeople').val(numberOfPeople);
        $('#inputCustomerType').val(customerTypeId);
        $('#inputRoomType').val(category);
        $('#inputRoomPrice').val(roomPrice);
        $('#inputSurcharge').val(surcharge);
        $('#inputCheckIn').val(new Date(dayCheckIn).toISOString().split('T')[0]);
        $('#inputCheckOut').val(new Date(dayCheckOut).toISOString().split('T')[0]);
        printJS({
          printable: 'print-form', type: 'html',
          css: ['https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'],
          targetStyles: ['*']
        });
        $('#print-form').hide();
      });
    });
  </script>
</div>